body {
    background-image: url(../imagens/bg-site.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #F3F3F3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.card {
    background-color: #070D12;
    width: 370px;
    /* border: 2px solid #E126D9; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 7px 3px #DD22B8;
}

.tabs img {
    width: 30px;
}

.card .my-informations {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /*👆👇alinha de acordo com o flexDirection, horizontal ou vertical*/
    align-items: center;
}

.card .my-informations img {
    border-radius: 50px;
    border: 4px solid #02D08F;
    width: 100px;
    height: 100px;
}

.card .my-informations .name {
    font-size: 26px;
}

.card .my-informations .cargo {
    font-size: 20px;
    color: #B8BBC5
}

.card .content {
    margin-top: 15px;
}

.card .tabs {
    display: flex;
}

.card .tabs .tab {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.card .tabs .tab img {
    width: 30px;
}

.card .tabs .tab.selected {
    background-color: #262626;
}

.card .informations-tabs {
    background-color: #262626;
}

.card .tabs .tab:hover {
    background-color: #414141;
}

.informations-tabs .information {
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informations-tabs .information {
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informations-tabs .information.selected {
    display: block;
}

.informations-tabs .information.selected {
    min-height: 260px;
    padding: 15px;
}

.informations-tabs .sub-title {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informations-tabs .description {
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informations-tabs .description span {
    color: #02D08F;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a {
    width: 250px;
    display: block;
    color: #F3F3F3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover {
    opacity: 0.8;
}

.redes-sociais .curriculo {
    background-color: #06C185;
}

.redes-sociais .linkedIn {
    background-color: #1D87BD;
}

.redes-sociais .github {
    background-color: #545454;
}